/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# Ignore stored credentials
config/credentials.yml

# Ignore rvm settings
.ruby-gemset
.ruby-version
